<head>

</head>
<body>
<a id="test" href="/assets/pop.png" style="display:none" class="fancybox"><img src=/assets/pop.png /></a>
<!-- <a href="/assets/pop2.png" class="fancybox"><img src=/assets/pop2.png /></a> -->
</body>


<script type="text/javascript">
	$(document).ready(function(){ 
		$("a.fancybox").fancybox();
		$("#test").click();
	})
</script>